<div class="detail-user-state {{userState()}}">
    <span *ngIf="spInfoData">{{spInfoData['examState']|dictTrans:'EXAMINE_STATUS'}}</span>
</div>
<!--基础信息-->
<nz-card [nzBordered]="false" nzTitle="{{'SP.detailPage.detail.info.infoTitle'|translate}}" class="ng-card-m">
    <ng-template #extra>
        <a (click)="editBaseInfo()" *ngIf="helper.btnRole('SPBASEINFO')">{{'default.btn.editBtn'|translate}}</a>
    </ng-template>
    <ng-container *ngFor="let detailField of detailFields">
        <desc-list col='2' size="small" title="{{detailField.title}}" class="mb-lg">
            <ng-container *ngFor="let cField of detailField.children">
                <desc-list-item term="{{cField.title}}">

                    <ng-template #isEmptyValue> / </ng-template>

                    <ng-container *ngIf="objectExtend.isString(cField.field)">
                        <ng-container *ngIf="!helper.isEmpty(spInfoData[cField.field]); else isEmptyValue">
                            <ng-container [ngSwitch]="cField.type">
                                <ng-container *ngSwitchCase="'dict'">
                                    {{spInfoData[cField.field]|dictTrans:cField['transKey']:cField['locationValue']}}
                                    <ng-container *ngIf="cField['group']">
                                        <ng-container *ngFor="let g of cField['group']">
                                            <span>{{connector}}</span>
                                            {{spInfoData[g]}}
                                        </ng-container>
                                    </ng-container>
                                </ng-container>
                                <ng-container *ngSwitchCase="'datetime'">
                                    {{spInfoData[cField.field]|_date:cField['format']}}
                                    <ng-container *ngIf="cField['group']">
                                        <ng-container *ngFor="let g of cField['group']">
                                            <span>{{connector}}</span>
                                            <!--{{spInfoData[g]|_date:cField['format']}}-->
                                            {{spInfoData[g]?(agencyInfoData[g]|_date:cField['format']):'/'}}
                                        </ng-container>
                                    </ng-container>
                                </ng-container>
                                <ng-container *ngSwitchCase="'image'">
                                    <a (click)="onImagePreview(cField.field)">图片预览</a>
                                </ng-container>
                                <ng-container *ngSwitchDefault>
                                    {{spInfoData[cField.field]}}
                                    <ng-container *ngIf="cField['group']">
                                        <ng-container *ngFor="let g of cField['group']">
                                            <span>{{connector}}</span>
                                            {{spInfoData[g]}}
                                        </ng-container>
                                    </ng-container>
                                </ng-container>
                            </ng-container>
                        </ng-container>
                    </ng-container>

                    <ng-container *ngIf="objectExtend.isArray(cField.field)">
                        <ng-container [ngSwitch]="cField.type">
                            <ng-container *ngSwitchCase="'datetime'">
                                <ng-container *ngFor="let subField of cField.field;index as i">
                                    {{spInfoData[subField]?(spInfoData[subField]|_date:cField['format']):'/'}}
                                    <span *ngIf="i < cField.field.length - 1">{{connector}}</span>
                                </ng-container>
                            </ng-container>
                        </ng-container>
                    </ng-container>
                </desc-list-item>
            </ng-container>
        </desc-list>
    </ng-container>
</nz-card>
<!--账户信息-->
<nz-card [nzBordered]="false" nzTitle="{{'SP.detailPage.detail.accountInfo'|translate}}" class="ng-card-m">
    <ng-template #extra>
        <a (click)="addAccount()" *ngIf="helper.btnRole('SPACCOUNTNEW')">{{'default.btn.newBtn'|translate}}</a>
    </ng-template>
    <simple-table #spAccountTable
                  [url]="tableCfg.url"
                  [reqMehtod]="'POST'"
                  [extraParams]="tableCfg.params"
                  [isAjax]="tableCfg.isAjax"
                  [columns]="tableCfg.tableColumns"
                  [(resReName)]="tableCfg.resReName"
                  [(reqReName)]="tableCfg.reqReName">

        <ng-template st-row="typeRender" let-item>
            {{!helper.isEmpty(item['type'])?helper.dictTrans('ACCOUNT_TYPE',item['type']) : '/'}}
        </ng-template>

        <ng-template st-row="cardTypeRender" let-item>
            {{!helper.isEmpty(item['cardType'])?helper.dictTrans('ACCOUNT_CARD_TYPE',item['cardType']) : '/'}}
        </ng-template>

        <ng-template st-row="subbranchNameRender" let-item let-index="index">
            {{item['subbranchName'] ? item['subbranchName'] : '/'}}
        </ng-template>

        <ng-template st-row="subbanrchCodeRender" let-item let-index="index">
            {{item['subbanrchCode'] ? item['subbanrchCode'] : '/'}}
        </ng-template>

    </simple-table>
</nz-card>
<!--操作记录-->
<nz-card [nzBordered]="false" nzTitle="{{'SP.detailPage.detail.operationInfo'|translate}}" class="ng-card-m">
    <div class="operation_record_wrap">
        <div class="record" *ngFor="let record of SpOperationLog | async">
            <span class="time">{{record.examineTime|date:'yyyy-MM-dd HH:mm:ss'}}</span>
            <span>{{record.examineRemark}}</span>
            <span class="status">{{record.examineStatus}}</span>
            <span class="operation">({{'SP.detailPage.detail.operator'|translate}}{{record.examineUser}})</span>
        </div>
    </div>
</nz-card>

<div nz-row class="wrap-btn">
    <nz-button-group>
        <button nz-button nzSize="large" [nzType]="'primary'" *ngIf="helper.btnRole('SPEXAMINE')" (click)="onExamine()">
            <span>{{'default.btn.examineBtn'|translate}}</span>
        </button>
        <button nz-button nzSize="large" *ngIf="helper.btnRole('SPEMAILSMI')" (click)="onSendEmailAndSTM()">
            <span>{{'default.btn.sendEmailMsgBtn'|translate}}</span>
        </button>
    </nz-button-group>
</div>
