<!--<form nz-form [formGroup]="secretkeyForm" (ngSubmit)="_submitForm()">-->
    <!--<div nz-form-item nz-row [nzGutter]="16">-->
        <!--<div nz-form-label nz-col [nzSm]="4">-->
            <!--<label nz-form-item-required>{{'Mch.step.infoCfg.rsaPublicKey'|translate}}</label>-->
        <!--</div>-->
        <!--<div nz-form-control nz-col [nzSm]="20" nzHasFeedback>-->
            <!--<nz-input [(ngModel)]="model.rsaPublicKey"-->
                      <!--formControlName="rsaPublicKey"-->
                      <!--[nzType]="'textarea'"-->
                      <!--[nzRows]="'4'"-->
                      <!--nzPlaceHolder="{{'default.hint.pleaseInput'|translate}}"></nz-input>-->
            <!--<div nz-form-explain *ngIf="secretkeyForm.controls.rsaPublicKey.dirty&&secretkeyForm.controls.rsaPublicKey.hasError('required')">{{'Validate_bank.rsaPublicKey'|translate}}</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div  class="modal-footer">-->
        <!--<button nz-button [nzType]="'primary'" [nzLoading]="isLoadingOne" [disabled]="!secretkeyForm.valid">{{'default.btn.saveBtn'|translate}}</button>-->
    <!--</div>-->
<!--</form>-->

