<form nz-form [formGroup]="agencyBaseInfoFormGroup" class="padding-form" (ngSubmit)="onSaveBaseInfo()">
    <fieldset>
        <legend>{{'Agency.detailPage.detail.info.enterpriseInform'|translate}}</legend>
        <div nz-row [nzGutter]="40" [nzType]="'flex'" [nzJustify]="'space-between'">
            <div nz-col [nzSpan]="12">
                <div nz-form-item nz-row>
                    <div nz-form-label nz-col  [nzSpan]="6">
                        <label for="bankCode" nz-form-item-required>{{'Agency.detailPage.detail.info.bankName'|translate}}</label>
                    </div>
                    <div nz-form-control nz-col [nzSpan]="18">
                        <search-input [(ngModel)]="model.bankCode" [name]="'bankCode'" [nzSize]="'large'" nzPlaceHolder="{{'default.hint.pleaseChoose'|translate}}"
                                      formControlName="bankCode"  nzId="bankCode" [nzDisabled]="model.id"
                                      [tableCfg]="bankCodeTableCfg" [displayField]="'name'" [valueField]="'orgNo'" [(displayValue)]="model.bankName"
                                      (nzSelect)="onSelectBankCode($event)" ></search-input>
                        <div nz-form-explain *ngIf="getFormControl('bankCode').dirty&&getFormControl('bankCode').hasError('required')">{{'default.validationMessages.emptyErr'|translate}}</div>
                    </div>
                </div>
            </div>
            <div nz-col [nzSpan]="12">
                <div nz-form-item nz-row>
                    <div nz-form-label nz-col  [nzSpan]="6">
                        <label for="parentChanCode">{{'Agency.detailPage.detail.info.parentChanName'|translate}}</label>
                    </div>
                    <div nz-form-control nz-col [nzSpan]="18">
                        <search-input [(ngModel)]="model.parentChanCode" [name]="'parentChanCode'" [nzSize]="'large'" nzPlaceHolder="{{'default.hint.pleaseChoose'|translate}}"
                                      formControlName="parentChanCode"  nzId="parentChanCode" [nzDisabled]="model.id"
                                      [tableCfg]="parentChanCodeTableCfg" [displayField]="'name'" [valueField]="'chanCode'" [(displayValue)]="model.parentChanName"
                                      (nzSelect)="onSelectParent($event)"  [searchBefore]="onSearchParentChanBefore.bind(this)"></search-input>
                    </div>
                </div>
            </div>
            <div nz-col [nzSpan]="12">
                <div nz-form-item nz-row>
                    <div nz-form-label  nz-col  [nzSpan]="6">
                        <label for="appCode" nz-form-item-required>{{'Agency.detailPage.detail.info.appCode'|translate}}</label>
                    </div>
                    <div nz-form-control nz-col [nzSpan]="18" nzHasFeedback>
                        <nz-select nzId="appCode" name="appCode" [(ngModel)]="model.appCode" formControlName="appCode" [nzSize]="'large'" nzPlaceHolder="{{'default.hint.pleaseChoose'|translate}}">
                            <nz-option
                                *ngFor="let agencyType of agencyTypes | async"
                                [nzLabel]="agencyType.name"
                                [nzValue]="agencyType.id">
                            </nz-option>
                        </nz-select>
                        <div nz-form-explain *ngIf="getFormControl('appCode').dirty&&getFormControl('appCode').hasError('required')">{{'default.validationMessages.emptyErr'|translate}}</div>
                    </div>
                </div>
            </div>
            <div nz-col [nzSpan]="12">
                <div nz-form-item nz-row>
                    <div nz-form-label nz-col [nzSpan]="6">
                        <label for="name" nz-form-item-required>{{'Agency.detailPage.detail.info.name'|translate}}</label>
                    </div>
                    <div nz-form-control nz-col [nzSpan]="18" nzHasFeedback>
                        <nz-input [nzSize]="'large'" formControlName="name" [nzId]="'name'" [(ngModel)]="model.name" nzPlaceHolder="{{'default.hint.pleaseInput'|translate}}"></nz-input>
                        <div nz-form-explain *ngIf="getFormControl('name').dirty&&getFormControl('name').hasError('required')">{{'default.validationMessages.emptyErr'|translate}}</div>
                    </div>
                </div>
            </div>
            <div nz-col [nzSpan]="12">
                <div nz-form-item nz-row>
                    <div nz-form-label nz-col [nzSpan]="6">
                        <label for="shortName" nz-form-item-required>{{'Agency.detailPage.detail.info.shortName'|translate}}</label>
                    </div>
                    <div nz-form-control nz-col [nzSpan]="18" nzHasFeedback>
                        <nz-input [nzSize]="'large'" formControlName="shortName" [nzId]="'shortName'" [(ngModel)]="model.shortName" nzPlaceHolder="{{'default.hint.pleaseInput'|translate}}"></nz-input>
                        <div nz-form-explain *ngIf="getFormControl('shortName').dirty&&getFormControl('shortName').hasError('required')">{{'default.validationMessages.emptyErr'|translate}}</div>
                    </div>
                </div>
            </div>
            <div nz-col [nzSpan]="12">
                <div nz-form-item nz-row>
                    <div nz-form-label nz-col [nzSpan]="6">
                        <label for="orgEmail" nz-form-item-required>{{'Agency.detailPage.detail.info.orgEmail'|translate}}</label>
                    </div>
                    <div nz-form-control nz-col [nzSpan]="18" nzHasFeedback>
                        <nz-input [nzSize]="'large'" formControlName="orgEmail" [nzId]="'orgEmail'" [(ngModel)]="model.orgEmail" nzPlaceHolder="{{'default.hint.pleaseInputEmail'|translate}}"></nz-input>
                        <div nz-form-explain *ngIf="getFormControl('orgEmail').dirty&&getFormControl('orgEmail').hasError('required')">{{'default.validationMessages.emptyErr'|translate}}</div>
                        <div nz-form-explain *ngIf="getFormControl('orgEmail').dirty&&getFormControl('orgEmail').value&&getFormControl('orgEmail').hasError('email')">{{'default.validationMessages.emailErr'|translate}}</div>
                    </div>
                </div>
            </div>
            <div nz-col [nzSpan]="12">
                <div nz-form-item nz-row>
                    <div nz-form-label nz-col [nzSpan]="6">
                        <label for="orgWebsite" nz-form-item-required>{{'Agency.detailPage.detail.info.orgWebsite'|translate}}</label>
                    </div>
                    <div nz-form-control nz-col [nzSpan]="18" nzHasFeedback>
                        <nz-input [nzSize]="'large'" formControlName="orgWebsite" [nzId]="'orgWebsite'" [(ngModel)]="model.orgWebsite" nzPlaceHolder="{{'default.hint.pleaseInput'|translate}}"></nz-input>
                        <div nz-form-explain *ngIf="getFormControl('orgWebsite').dirty&&getFormControl('orgWebsite').hasError('required')">{{'default.validationMessages.emptyErr'|translate}}</div>
                    </div>
                </div>
            </div>
            <div nz-col [nzSpan]="12">
                <div nz-form-item nz-row>
                    <div nz-form-label  nz-col  [nzSpan]="6">
                        <label nz-form-item-required>{{'Agency.detailPage.detail.info.provinceName'|translate}}</label>
                    </div>
                    <div nz-form-control nz-col [nzSpan]="6" nzHasFeedback>
                        <nz-select nzId="province" name="province" [(ngModel)]="model.province" formControlName="province" [nzSize]="'large'" nzPlaceHolder="{{'Agency.detailPage.detail.info.province'|translate}}" (nzSelectChange)="onProvinceSelected($event)">
                            <nz-option
                                *ngFor="let province of provinces | async"
                                [nzLabel]="province.name"
                                [nzValue]="province.areaCode"
                                [nzData]="province.adCode">
                            </nz-option>
                        </nz-select>
                        <div nz-form-explain *ngIf="getFormControl('province').dirty&&getFormControl('province').hasError('required')">{{'default.validationMessages.emptyErr'|translate}}</div>
                    </div>
                    <div nz-form-control nz-col [nzSpan]="6" nzHasFeedback>
                        <nz-select nzId="city" name="city" [(ngModel)]="model.city" formControlName="city" [nzSize]="'large'" nzPlaceHolder="{{'Agency.detailPage.detail.info.city'|translate}}" (nzSelectChange)="onCitySelected($event)">
                            <nz-option
                                *ngFor="let city of citys | async"
                                [nzLabel]="city.name"
                                [nzValue]="city.areaCode"
                                [nzData]="city.adCode">
                            </nz-option>
                        </nz-select>
                        <div nz-form-explain *ngIf="getFormControl('city').dirty&&getFormControl('city').hasError('required')">{{'default.validationMessages.emptyErr'|translate}}</div>
                    </div>
                    <div nz-form-control nz-col [nzSpan]="6" nzHasFeedback>
                        <nz-select nzId="county" name="county" [(ngModel)]="model.county" formControlName="county" [nzSize]="'large'" nzPlaceHolder="{{'Agency.detailPage.detail.info.county'|translate}}" (nzSelectChange)="onAreasSelected($event)">
                            <nz-option
                                *ngFor="let area of areas | async"
                                [nzLabel]="area.name"
                                [nzValue]="area.areaCode"
                                [nzData]="area.adCode">
                            </nz-option>
                        </nz-select>
                        <div nz-form-explain *ngIf="getFormControl('county').dirty&&getFormControl('county').hasError('required')">{{'default.validationMessages.emptyErr'|translate}}</div>
                    </div>
                </div>
            </div>
            <div nz-col [nzSpan]="12">
                <div nz-form-item nz-row>
                    <div nz-form-label nz-col [nzSpan]="6">
                        <label for="comAddress" nz-form-item-required>{{'Agency.detailPage.detail.info.comAddress'|translate}}</label>
                    </div>
                    <div nz-form-control nz-col [nzSpan]="18" nzHasFeedback>
                        <nz-input [nzSize]="'large'" formControlName="comAddress" [nzId]="'comAddress'" [(ngModel)]="model.comAddress" nzPlaceHolder="{{'default.hint.pleaseInput'|translate}}"></nz-input>
                        <div nz-form-explain *ngIf="getFormControl('comAddress').dirty&&getFormControl('comAddress').hasError('required')">{{'default.validationMessages.emptyErr'|translate}}</div>
                    </div>
                </div>
            </div>
            <div nz-col [nzSpan]="12">
                <div nz-form-item nz-row>
                    <div nz-form-label  nz-col  [nzSpan]="6">
                        <label for="certificateType" nz-form-item-required>{{'Agency.detailPage.detail.info.certificateType'|translate}}</label>
                    </div>
                    <div nz-form-control nz-col [nzSpan]="18" nzHasFeedback>
                        <nz-select nzId="certificateType" name="certificateType" [(ngModel)]="model.certificateType" formControlName="certificateType" [nzSize]="'large'" nzPlaceHolder="{{'default.hint.pleaseChoose'|translate}}">
                            <nz-option
                                *ngFor="let certificateType of certificateTypes | async"
                                [nzLabel]="certificateType.name"
                                [nzValue]="certificateType.id">
                            </nz-option>
                        </nz-select>
                    </div>
                </div>
            </div>
            <div nz-col [nzSpan]="12">
                <div nz-form-item nz-row>
                    <div nz-form-label nz-col [nzSpan]="6">
                        <label for="linenceNo" nz-form-item-required>{{'Agency.detailPage.detail.info.linenceNo'|translate}}</label>
                    </div>
                    <div nz-form-control nz-col [nzSpan]="18" nzHasFeedback>
                        <nz-input [nzSize]="'large'" formControlName="linenceNo" [nzId]="'linenceNo'" [(ngModel)]="model.linenceNo" nzPlaceHolder="{{'default.hint.pleaseInput'|translate}}"></nz-input>
                        <div nz-form-explain *ngIf="getFormControl('linenceNo').dirty&&getFormControl('linenceNo').hasError('required')">{{'default.validationMessages.emptyErr'|translate}}</div>
                    </div>
                </div>
            </div>
            <div nz-col [nzSpan]="12">
                <div nz-form-item nz-row>
                    <div nz-form-label nz-col [nzSpan]="6">
                        <label>{{'Agency.detailPage.detail.info.linenceTermStart'|translate}}</label>
                    </div>
                    <div nz-form-control nz-col [nzSpan]="8">
                        <nz-datepicker [nzSize]="'large'" style="width: 100%"
                                       name="linenceTermStart"
                                       [(ngModel)]="model.linenceTermStart"
                                       [nzFormat]="'YYYY-MM-DD'"
                                       nzId="linenceTermStart"
                                       nzPlaceHolder="{{'Agency.detailPage.detail.info.startDate'|translate}}"
                                       formControlName="linenceTermStart"></nz-datepicker>
                        <!--(ngModelChange)="onLinenceTermStartModelChange($event)"-->
                    </div>
                    <div nz-form-control nz-col [nzSpan]="2">
                        <p nz-form-split class="picker-split"> {{line}} </p>
                    </div>
                    <div nz-form-control nz-col [nzSpan]="8">
                        <nz-datepicker [nzSize]="'large'" style="width: 100%"
                                       name="linenceTermEnd"
                                       [(ngModel)]="model.linenceTermEnd"
                                       nzId="linenceTermEnd"
                                       [nzFormat]="'YYYY-MM-DD'"
                                       nzPlaceHolder="{{'Agency.detailPage.detail.info.endDate'|translate}}"
                                       formControlName="linenceTermEnd"></nz-datepicker>
                        <!--[nzDisabledDate]="agencyLicenceEndDateDisabled.bind(this)"-->
                    </div>
                </div>
            </div>
            <div nz-col [nzSpan]="12">
                <div nz-form-item nz-row>
                    <div nz-form-label  nz-col  [nzSpan]="6">
                        <label nz-form-item-required>{{'Agency.detailPage.detail.info.categoryType'|translate}}</label>
                    </div>
                    <div nz-form-control nz-col [nzSpan]="9" nzHasFeedback>
                        <nz-select nzId="categoryTypeGroup" name="categoryTypeGroup" [(ngModel)]="model.categoryTypeGroup" formControlName="categoryTypeGroup" [nzSize]="'large'" nzPlaceHolder="{{'Agency.detailPage.detail.info.category'|translate}}"
                                   (nzSelectChange)="onCategoryTypeSelected($event)" >
                            <nz-option
                                *ngFor="let cTypeGroup of cTypeGroups | async"
                                [nzLabel]="cTypeGroup.name"
                                [nzValue]="cTypeGroup.id">
                            </nz-option>
                        </nz-select>
                    </div>
                    <div nz-form-control nz-col [nzSpan]="9" nzHasFeedback>
                        <nz-select nzId="categoryType" name="categoryType" [(ngModel)]="model.categoryType" formControlName="categoryType" [nzSize]="'large'" nzPlaceHolder="{{'Agency.detailPage.detail.info.categoryName'|translate}}">
                            <nz-option
                                *ngFor="let categoryType of categoryTypes | async"
                                [nzLabel]="categoryType.name"
                                [nzValue]="categoryType.categoryNo">
                            </nz-option>
                        </nz-select>
                        <div nz-form-explain *ngIf="getFormControl('categoryType').dirty&&getFormControl('categoryType').hasError('required')">{{'default.validationMessages.emptyErr'|translate}}</div>
                    </div>
                </div>
            </div>
            <div nz-col [nzSpan]="12">
                <div nz-form-item nz-row>
                    <div nz-form-label nz-col [nzSpan]="6">
                        <label for="customerPhone" nz-form-item-required>{{'Agency.detailPage.detail.info.customerPhone'|translate}}</label>
                    </div>
                    <div nz-form-control nz-col [nzSpan]="18" nzHasFeedback>
                        <nz-input [nzSize]="'large'" formControlName="customerPhone" [nzId]="'customerPhone'" [(ngModel)]="model.customerPhone" nzPlaceHolder="{{'default.hint.pleaseInputFixPhone'|translate}}"></nz-input>
                        <div nz-form-explain *ngIf="getFormControl('customerPhone').dirty&&getFormControl('customerPhone').hasError('required')">{{'default.validationMessages.emptyErr'|translate}}</div>
                        <div nz-form-explain *ngIf="getFormControl('customerPhone').dirty&&getFormControl('customerPhone').value&&getFormControl('customerPhone').hasError('fixPhoneError')">{{'default.validationMessages.fixPhoneErr'|translate}}</div>
                    </div>
                </div>
            </div>
            <div nz-col [nzSpan]="12">
                <div nz-form-item nz-row>
                    <div nz-form-label nz-col  [nzSpan]="6">
                        <label for="salesmanNo">{{'Agency.detailPage.detail.info.salesmanName'|translate}}</label>
                    </div>
                    <div nz-form-control nz-col [nzSpan]="18">
                        <search-input [(ngModel)]="model.salesmanNo" [name]="'salesmanNo'" [nzSize]="'large'" nzPlaceHolder="{{'default.hint.pleaseChoose'|translate}}"
                                      formControlName="salesmanNo"  nzId="salesmanNo"
                                      [tableCfg]="salesmanNoTableCfg" [displayField]="'realName'" [valueField]="'salesmanId'" [(displayValue)]="model.salesmanName"
                                      (nzSelect)="onSelectSalesman($event)" [searchBefore]="onSearchSalesmanBefore.bind(this)"
                                      [nzDisabled]="model.id && !model.parentChanCode "></search-input>
                    </div>
                </div>
            </div>
            <div nz-col [nzSpan]="12">
                <div nz-form-item nz-row>
                    <div nz-form-label  nz-col  [nzSpan]="6">
                        <label for="shareRule" nz-form-item-required>{{'Agency.detailPage.detail.info.shareRule'|translate}}</label>
                    </div>
                    <div nz-form-control nz-col [nzSpan]="18" nzHasFeedback>
                        <nz-select nzId="shareRule" name="shareRule" [(ngModel)]="model.shareRule" formControlName="shareRule" [nzSize]="'large'" nzPlaceHolder="{{'default.hint.pleaseChoose'|translate}}">
                            <nz-option
                                *ngFor="let shareRule of shareRules | async"
                                [nzLabel]="shareRule.name"
                                [nzValue]="shareRule.id">
                            </nz-option>
                        </nz-select>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>{{'Agency.detailPage.detail.info.principalInfo'|translate}}</legend>
        <div nz-row [nzGutter]="40" [nzType]="'flex'" [nzJustify]="'space-between'">
            <div nz-col [nzSpan]="12">
                <div nz-form-item nz-row>
                    <div nz-form-label nz-col [nzSpan]="6">
                        <label for="operator" nz-form-item-required>{{'Agency.detailPage.detail.info.operator'|translate}}</label>
                    </div>
                    <div nz-form-control nz-col [nzSpan]="18" nzHasFeedback>
                        <nz-input [nzSize]="'large'" formControlName="operator" [nzId]="'operator'" [(ngModel)]="model.operator" nzPlaceHolder="{{'default.hint.pleaseInput'|translate}}"></nz-input>
                        <div nz-form-explain *ngIf="getFormControl('operator').dirty&&getFormControl('operator').hasError('required')">{{'default.validationMessages.emptyErr'|translate}}</div>
                    </div>
                </div>
            </div>
            <div nz-col [nzSpan]="12">
                <div nz-form-item nz-row>
                    <div nz-form-label  nz-col  [nzSpan]="6">
                        <label for="contactsType" nz-form-item-required>{{'Agency.detailPage.detail.info.contactsType'|translate}}</label>
                    </div>
                    <div nz-form-control nz-col [nzSpan]="18" nzHasFeedback>
                        <nz-select nzId="contactsType" name="contactsType" [(ngModel)]="model.contactsType" formControlName="contactsType" [nzSize]="'large'" nzPlaceHolder="{{'default.hint.pleaseChoose'|translate}}">
                            <nz-option
                                *ngFor="let contType of contactsTypes | async"
                                [nzLabel]="contType.name"
                                [nzValue]="contType.id">
                            </nz-option>
                        </nz-select>
                    </div>
                </div>
            </div>
            <div nz-col [nzSpan]="12">
                <div nz-form-item nz-row>
                    <div nz-form-label nz-col [nzSpan]="6">
                        <label for="operatorIdno" nz-form-item-required>{{'Agency.detailPage.detail.info.operatorIdno'|translate}}</label>
                    </div>
                    <div nz-form-control nz-col [nzSpan]="18" nzHasFeedback>
                        <nz-input [nzSize]="'large'" formControlName="operatorIdno" [nzId]="'operatorIdno'" [(ngModel)]="model.operatorIdno" nzPlaceHolder="{{'default.hint.pleaseInputIDcard'|translate}}"></nz-input>
                        <div nz-form-explain *ngIf="getFormControl('operatorIdno').dirty&&getFormControl('operatorIdno').hasError('required')">{{'default.validationMessages.emptyErr'|translate}}</div>
                        <div nz-form-explain *ngIf="getFormControl('operatorIdno').dirty&&getFormControl('operatorIdno').value&&getFormControl('operatorIdno').hasError('IDcardError')">{{'default.validationMessages.idCardErr'|translate}}</div>
                    </div>
                </div>
            </div>
            <div nz-col [nzSpan]="12">
                <div nz-form-item nz-row>
                    <div nz-form-label nz-col [nzSpan]="6">
                        <label for="operatorPhone">{{'Agency.detailPage.detail.info.operatorPhone'|translate}}</label>
                    </div>
                    <div nz-form-control nz-col [nzSpan]="18">
                        <nz-input [nzSize]="'large'" formControlName="operatorPhone" [nzId]="'operatorPhone'" [(ngModel)]="model.operatorPhone" nzPlaceHolder="{{'default.hint.pleaseInputPhone'|translate}}"></nz-input>
                        <div nz-form-explain *ngIf="getFormControl('operatorPhone').dirty&&getFormControl('operatorPhone').value&&getFormControl('operatorPhone').hasError('phoneError')">{{'default.validationMessages.phoneErr'|translate}}</div>
                    </div>
                </div>
            </div>
            <div nz-col [nzSpan]="12">
                <div nz-form-item nz-row>
                    <div nz-form-label nz-col [nzSpan]="6">
                        <label for="operatorEmail">{{'Agency.detailPage.detail.info.operatorEmail'|translate}}</label>
                    </div>
                    <div nz-form-control nz-col [nzSpan]="18">
                        <nz-input [nzSize]="'large'" formControlName="operatorEmail" [nzId]="'operatorEmail'" [(ngModel)]="model.operatorEmail" nzPlaceHolder="{{'default.hint.pleaseInputEmail'|translate}}"></nz-input>
                        <div nz-form-explain *ngIf="getFormControl('operatorEmail').dirty&&getFormControl('operatorEmail').value&&getFormControl('operatorEmail').hasError('emailError')">{{'default.validationMessages.emailErr'|translate}}</div>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>{{'Agency.detailPage.detail.info.contactInfo'|translate}}</legend>
        <div nz-row [nzGutter]="40" [nzType]="'flex'" [nzJustify]="'space-between'">
            <div nz-col [nzSpan]="12">
                <div nz-form-item nz-row>
                    <div nz-form-label nz-col [nzSpan]="6">
                        <label for="linkman" nz-form-item-required>{{'Agency.detailPage.detail.info.linkman'|translate}}</label>
                    </div>
                    <div nz-form-control nz-col [nzSpan]="18" nzHasFeedback>
                        <nz-input [nzSize]="'large'" formControlName="linkman" [nzId]="'linkman'" [(ngModel)]="model.linkman" nzPlaceHolder="{{'default.hint.pleaseInput'|translate}}"></nz-input>
                        <div nz-form-explain *ngIf="getFormControl('linkman').dirty&&getFormControl('linkman').hasError('required')">{{'default.validationMessages.emptyErr'|translate}}</div>
                    </div>
                </div>
            </div>
            <div nz-col [nzSpan]="12">
                <div nz-form-item nz-row>
                    <div nz-form-label nz-col [nzSpan]="6">
                        <label for="email" nz-form-item-required>{{'Agency.detailPage.detail.info.email'|translate}}</label>
                    </div>
                    <div nz-form-control nz-col [nzSpan]="18" nzHasFeedback>
                        <nz-input [nzSize]="'large'" formControlName="email" [nzId]="'email'" [(ngModel)]="model.email" nzPlaceHolder="{{'default.hint.pleaseInputEmail'|translate}}"></nz-input>
                        <div nz-form-explain *ngIf="getFormControl('email').dirty&&getFormControl('email').hasError('required')">{{'default.validationMessages.emptyErr'|translate}}</div>
                        <div nz-form-explain *ngIf="getFormControl('email').dirty&&getFormControl('email').value&&getFormControl('email').hasError('email')">{{'default.validationMessages.emailErr'|translate}}</div>
                    </div>
                </div>
            </div>
            <div nz-col [nzSpan]="12">
                <div nz-form-item nz-row>
                    <div nz-form-label nz-col [nzSpan]="6">
                        <label for="phone" nz-form-item-required>{{'Agency.detailPage.detail.info.phone'|translate}}</label>
                    </div>
                    <div nz-form-control nz-col [nzSpan]="18" nzHasFeedback>
                        <nz-input [nzSize]="'large'" formControlName="phone" [nzId]="'phone'" [(ngModel)]="model.phone" nzPlaceHolder="{{'default.hint.pleaseInputPhone'|translate}}"></nz-input>
                        <div nz-form-explain *ngIf="getFormControl('phone').dirty&&getFormControl('phone').hasError('required')">{{'default.validationMessages.emptyErr'|translate}}</div>
                        <div nz-form-explain *ngIf="getFormControl('phone').dirty&&getFormControl('phone').value&&getFormControl('phone').hasError('phoneError')">{{'default.validationMessages.phoneErr'|translate}}</div>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>{{'Agency.detailPage.detail.info.accessoryInfo'|translate}}</legend>
        <div nz-row [nzGutter]="40">
            <div nz-form-label nz-col [nzSpan]="3">
                <label nz-form-item-required>{{'Agency.detailPage.detail.info.imgInfo'|translate}}</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="21">
                <div nz-row [nzType]="'flex'" [nzJustify]="'space-between'">
                    <ng-file-upload [options]="defFieldUploadSetting" placeholder="{{'Agency.detailPage.detail.info.linenceImg'|translate}}" required
                                     id="linenceImg" name="linenceImg" formControlName="linenceImg" [(ngModel)]="model.linenceImg" (onError)="onFileUploadError($event)"></ng-file-upload>
                    <ng-file-upload [options]="defFieldUploadSetting" placeholder="{{'Agency.detailPage.detail.info.orgAccountImg'|translate}}" required
                                    id="orgAccountImg" name="orgAccountImg" formControlName="orgAccountImg" [(ngModel)]="model.orgAccountImg" (onError)="onFileUploadError($event)"></ng-file-upload>
                    <ng-file-upload [options]="defFieldUploadSetting" placeholder="{{'Agency.detailPage.detail.info.indentityImg'|translate}}" required
                                    id="indentityImg" name="indentityImg" formControlName="indentityImg" [(ngModel)]="model.indentityImg" (onError)="onFileUploadError($event)"></ng-file-upload>
                    <ng-file-upload [options]="defFieldUploadSetting" placeholder="{{'Agency.detailPage.detail.info.indentityBackImg'|translate}}" required
                                    id="indentityBackImg" name="indentityBackImg" formControlName="indentityBackImg" [(ngModel)]="model.indentityBackImg" (onError)="onFileUploadError($event)"></ng-file-upload>
                    <ng-file-upload [options]="defFieldUploadSetting" placeholder="{{'Agency.detailPage.detail.info.bankCardImg'|translate}}" required
                                    id="bankCardImg" name="bankCardImg" formControlName="bankCardImg" [(ngModel)]="model.bankCardImg" (onError)="onFileUploadError($event)"></ng-file-upload>
                </div>
            </div>
        </div>
    </fieldset>
    <div nz-row class="wrap-btn">
        <div *ngIf="hasSource()">
            <button nz-button [nzType]="'primary'" nzSize="large" [disabled]="!agencyBaseInfoFormGroup.valid">{{'default.btn.saveToNextBtn'|translate}}</button>
        </div>
        <div *ngIf="!hasSource()">
            <nz-button-group>
                <button nz-button (click)="onGoBack()" nzSize="large">{{'default.btn.backBtn'|translate}}</button>
                <button nz-button [disabled]="!agencyBaseInfoFormGroup.valid" [nzType]="'primary'" nzSize="large" [nzLoading]="isLoading">{{'default.btn.saveBtn'|translate}}</button>
            </nz-button-group>
        </div>
    </div>
</form>

