<nz-card [nzBordered]="false">
    <form nz-form [nzLayout]="'inline'">
        <div nz-row [nzGutter]="25">
            <!--交易日期-->

            <div nz-col [nzSpan]="5" class="mb-md">
                <div nz-form-item class="d-flex">
                    <div nz-form-label>
                        <label>{{'TradeRatio.hourRatioPage.search.tradeTime'|translate}}</label>
                    </div>
                    <div nz-form-control class="flex-1">
                        <nz-datepicker [nzSize]="'large'"
                                       nzPlaceHolder="{{'DateTime.chooseDatePlease'|translate}}"
                                       class="d-block"
                                       [(ngModel)]="hourForm.tradeTime"
                                       name="tradeTime"></nz-datepicker>
                    </div>
                </div>
            </div>

            <!--受理机构-->
            <div nz-col [nzSpan]="5" class="mb-md">
                <div nz-form-item class="d-flex">
                    <div nz-form-label>
                        <label>{{'TradeRatio.hourRatioPage.search.bankNo'|translate}}</label>
                    </div>
                    <div nz-form-control class="flex-1">
                        <search-input [(ngModel)]="hourForm.bankNo"
                                      [name]="'bankNo'"
                                      [nzSize]="'large'"
                                      nzPlaceHolder="{{'default.hint.pleaseChoose'|translate}}"
                                      nzId="bankNo"
                                      [displayField]="'name'"
                                      [valueField]="'orgNo'"
                                      [tableCfg]="bankCodeCfg"
                                      (nzSelect)="onBankNoSelected($event)"></search-input>
                    </div>
                </div>
            </div>

            <!--所属上级-->
            <div nz-col [nzSpan]="5" class="mb-md">
                <div nz-form-item class="d-flex">
                    <div nz-form-label>
                        <label>{{'TradeRatio.hourRatioPage.search.agentno'|translate}}</label>
                    </div>
                    <div nz-form-control class="flex-1">
                        <search-input [(ngModel)]="hourForm.agentno"
                                      [name]="'agentno'"
                                      [nzSize]="'large'"
                                      nzPlaceHolder="{{'default.hint.pleaseChoose'|translate}}"
                                      nzId="agentno"
                                      [displayField]="'name'"
                                      [valueField]="'agentno'"
                                      [(displayValue)]="hourForm.agencyName"
                                      [tableCfg]="agentnoTableCfg"
                                      (nzSelect)="onAgentnoSelected($event)"
                                      [searchBefore]="onAgentnoSearchBefore.bind(this)"></search-input>
                    </div>
                </div>
            </div>
            <!--商户名称-->
            <div nz-col [nzSpan]="5" class="mb-md">
                <div nz-form-item class="d-flex">
                    <div nz-form-label>
                        <label>{{'TradeRatio.hourRatioPage.search.merchantId'|translate}}</label>
                    </div>
                    <div nz-form-control class="flex-1">
                        <search-input [(ngModel)]="hourForm.merchantId"
                                      [name]="'merchantId'"
                                      [nzSize]="'large'"
                                      nzPlaceHolder="{{'default.hint.pleaseChoose'|translate}}"
                                      nzId="merchantId"
                                      [displayField]="'name'"
                                      [valueField]="'id'"
                                      [(displayValue)]="hourForm.merchantName"
                                      [tableCfg]="merchantIdTableCfg"
                                      (nzSelect)="onMchSelected($event)"
                                      [searchBefore]="onMchSearchBefore.bind(this)"></search-input>
                    </div>
                </div>
            </div>
        </div>
        <div nz-row [nzGutter]="25">
            <div nz-col class="mb-md">
                <button nz-button (click)="onSearch()" [nzType]="'primary'" [nzSize]="'large'">
                    <span>{{'default.btn.searchBtn'|translate}}</span>
                </button>

                <button nz-button (click)="onGoRatio()" [nzType]="'default'" [nzSize]="'large'">
                    <span>{{'TradeRatio.listPage.btn.goRatioBtn'|translate}}</span>
                </button>
            </div>
        </div>
    </form>
</nz-card>

<nz-card [nzBordered]="false">
    <timeline
        [data]="chartData"
        [titleMap]="{y1: 'QQ钱包扫码支付', y2: '京东钱包扫码支付', y3: '微信公众号支付'}"
        [height]="708"></timeline>
</nz-card>


