<nz-card [nzBordered]="false" class="ng-card-m">
    <nz-tabset [nzTabPosition]="'left'" [nzType]="'line'">
        <!--公众号配置-->
        <nz-tab>
            <ng-template #nzTabHeading>
                {{'SP.detailPage.infoCfg.weixin.title'|translate}}
            </ng-template>
            <div nz-row class="config-row">
                <a (click)="addWeixin()" *ngIf="helper.isEmpty(weixinData)">{{'default.btn.newBtn'|translate}}</a>
                <a (click)="editWeixin()" *ngIf="!helper.isEmpty(weixinData)">{{'default.btn.editBtn'|translate}}</a>
            </div>
            <div nz-row>
                <desc-list size="large" col="2">
                    <ng-container *ngFor="let cField of weixinFields">
                        <desc-list-item term="{{cField.title}}">
                            <ng-template #isEmptyValue> / </ng-template>
                            <ng-container *ngIf="!helper.isEmpty(weixinData); else isEmptyValue">
                                <ng-container *ngIf="!helper.isEmpty(weixinData[cField.field]); else isEmptyValue">
                                    {{weixinData[cField.field]}}
                                </ng-container>
                            </ng-container>
                        </desc-list-item>
                    </ng-container>
                </desc-list>
            </div>
        </nz-tab>

        <!--交易限额配置-->
        <nz-tab>
            <ng-template #nzTabHeading>
                {{'SP.detailPage.infoCfg.tradeLimit.title'|translate}}
            </ng-template>
            <div nz-row class="config-row">
                <a (click)="onEditTradeLimit()">{{'default.btn.configBtn'|translate}}</a>
            </div>
            <div nz-row>
                <desc-list size="large" col="2">
                    <ng-container *ngFor="let cField of tradeLimitFields">
                        <desc-list-item term="{{cField.title}}">
                            <ng-template #isEmptyValue> / </ng-template>
                            <ng-container *ngIf="!helper.isEmpty(tradeLimitData); else isEmptyValue">
                                <ng-container *ngIf="!helper.isEmpty(tradeLimitData[cField.field]); else isEmptyValue">
                                    {{tradeLimitData[cField.field]}}
                                </ng-container>
                            </ng-container>
                        </desc-list-item>
                    </ng-container>
                </desc-list>
            </div>
        </nz-tab>
    </nz-tabset>
</nz-card>

<div nz-row>
    <div nz-col class="wrap-btn">
        <nz-button-group>
            <button nz-button type="button" (click)="prev()" nzSize="large" [nzType]="'default'">
                <span>{{'SP.detailPage.prevBtn' | translate}}</span>
            </button>
            <button nz-button type="button" (click)="onNext()" nzSize="large" [nzType]="'primary'">
                <span>{{'SP.detailPage.submitBtn' | translate}}</span>
            </button>
        </nz-button-group>
    </div>
</div>
